# frozen_string_literal: true

require 'rails_helper'
require 'formify/spec_helpers'

describe Forms::<%= class_name %>, type: :form do
  include Formify::SpecHelpers

  let(:attributes) do
    {

    }
  end

  it { expect(result).to be_success }
  it { expect(value).to be_a(KLASS) }
end
